
h1 {
  font-size: 80px;
  font-weight: bolder;
  font-family: 'Abril Fatface';
  margin: 20px;
}

body {
background-color: #E3B4B4;
color: #663333;
}

#container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-auto-rows:minmax(200px, auto);
  gap: 20px;
}

#container img {
  border: 2px solid #CC3333;
  padding: 25px;
  background-color: #CC3333;

}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  grid-row: 2/3;
}

main {
  text-align: center;
}

#show-results {
font-size: large;
border-radius: 30px;
border: 2px solid #FF6666;
margin: 20px;
width: 250px;
transition-duration: 0.4s;
display:inline-block
;
}

#show-results:hover {
  background-color: #663333;
  color: white;
}

#display-results {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #FF6666;
  margin: 20px;
  padding: 25px;
  object-fit: cover;
}